body{
    margin: 0;
    padding: 0;
    background-color: beige;
}

.nuevosIngresos{
    width: 100%;
    text-align: center;
}
.nuevosIngresos img{
    max-width: 1100px;
    padding: 14px 0 14px 0;
    
    
}

.electros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.productos {
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    

}

.productos img{
    
    height: 150px;
    border-radius: 100px;
    transition: all .3s ease-in-out;
   
}
.productos img:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .25) ;
    transform: scale(1);
}

.productos h2 {
    font-size: 1em;
    font-weight: 500;
    color: #3d3d3d;

}

.logopagina{
    border-bottom: 1px gray ;
    padding: 30px;
    
}
.logopagina img {
    width: 150px;

}

/* nav */

.navSection {
    border-top:1px solid rgb(212, 212, 212) ;
    box-shadow: 0 4px 5px rgba(0, 0, 0, .25);
    padding: 20px;
}
.nav{
    display: flex;
    flex-wrap: wrap;
}

.nav li {
    list-style: none;
    padding: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #7c7c7c;
    transition: all .4s ease-in-out;
}

.nav li:hover{
    color: #131363;
    transform: scale(1);
}

@media ( max-width: 950px ) {
    .nuevosIngresos img{
        width: 100%;    
    }
    .nav li {
        display: block;
        margin: 20px;
    }
}